<h1> Listing all teams</h1>


<table>
	<tr>
	   
	   <th>Home</th>
	   <th>Score</th>
	   <th>Away</th>
	</tr>

	<% @Matches.each do |match| %>

	<tr>
	  
	  <td><%= match.result %></td>
	
	 
	  
	<% end %>
	
	
	

	
	</tr>
	
	
	
	  




</table>
