<h1> Listing all teams</h1>


<table>
	<tr>
	   
	   <th>Home</th>
	   <th>Away</th>
	</tr>

	<% @Homes.each do |home| and @Aways.each do |away| %>

	<tr>
	  <td><%= home.team.name %></td>
	  <td><%= away.team.name %></td>
	 
	  
	<% end %>
	
	
	

	
	</tr>
	
	
	
	  




</table>
