$navbar-default-bg: black;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';



.jumbotron{
	background-image: asset-url('75084.jpg');
	background-size: cover;

	height: 650px;

	color: white;
}

.center{
	text-align:center;
  color: black;
}



.white{
	color: white;
}

.headimage {



}

#alpha{
	color: white;
}

.tab{
    color: white;

    background-color: #38003c;
}
.tab2{
  color: black;
  background-color: #bbb;
}
.tab3{
  color: white;
  background-color: black;
}
.item-d {
  grid-area: 1 / col4-start / last-line / 6
}
.article-actions {

border-top: 1px solid #eaeaea;

padding-top: 5px;

}

.description {

margin-top: 0;

}
.article-title {

font-weight: bold;

font-size: 1.5em;

}

.article-body {

border-top: 1px solid #eaeaea;

padding-top: 15px;

padding-bottom: 15px;

}
.article-meta-details {

border-top: 1px solid #eaeaea;

margin-top: 15px;

}