$navbar-default-bg: black;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';



.jumbotron{
	background-image: asset-url('75084.jpg');
	background-size: cover;

	height: 650px;

	color: white;
}

.center{
	text-align:center;
}



.white{
	color: white;
}

.button {
    
    color: white;
   
}

#alpha{
	color: white;
}