$navbar-default-bg: black;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';



.jumbotron{
	background-image: asset-url('75084.jpg');
	background-size: cover;

	height: 650px;

	color: white;
}

.center{
	text-align:center;
  color: black;
}



.white{
	color: white;
}

.headimage {



}

#alpha{
	color: white;
}

.tab{
    color: white;

    background-color: #38003c;
}
.tab2{
  color: black;
  background-color: #bbb;
}
.tab3{
  color: black;
  background-color: white;
}
.item-d {
  grid-area: 1 / col4-start / last-line / 6
}